{% extends 'base.html' %}

{% block head %}
<div class="row">
  <div class="col s12 m12">
      <h1>Welcome to our Privacy Policy</h1>
      <h3>Your privacy is critically important to us.</h3>
      Noticias en Grafica is located at: Santo Domingo, Dominican Republic<br/>
    </div>
  </div>
{% endblock %}


{% block content %}
    <div class="col s12 m12">

      <p>It is Noticias en Grafica's policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="http://www.noticiasengrafica.com">www.noticiasengrafica.com</a> (hereinafter, "us", "we", or "www.noticiasengrafica.com"). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>
      <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

            <h3>Website Visitors</h3>
      <p>Like most website operators, Noticias en Grafica collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Noticias en Grafica's purpose in collecting non-personally identifying information is to better understand how Noticias en Grafica's visitors use its website. From time to time, Noticias en Grafica may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
      <p>Noticias en Grafica also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on http://www.noticiasengrafica.com blog posts. Noticias en Grafica only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
      
      
      
            <h3>Advertisements</h3>
      <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by Noticias en Grafica and does not cover the use of cookies by any advertisers.</p>
      

            <h3>Links To External Sites</h3>
      <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
      <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>
      
            <h3>www.noticiasengrafica.com uses Google AdWords for remarketing</h3>
      <p>www.noticiasengrafica.com uses the remarketing services to advertise on third party websites (including Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven't completed a task on our site, for example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors, including Google, use cookies to serve ads based on someone's past visits. Of course, any data collected will be used in accordance with our own privacy policy and Google's privacy policy.</p>
      <p>You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want to you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser plugin.</p>

      <h3><span class="tlid-translation translation" lang="en"><span class="" title="">Interaction with social networks and external platforms</span></span></h3>
        <p><span class="tlid-translation translation" lang="en">This type of services allow you to interact with social networks or other external platforms directly from the pages of this Application.</span></p>
        <p><span class="tlid-translation translation" lang="en"><br />The interactions and information obtained by this Application will always be subject to the privacy settings of the User in each social network.</span></p>
        <p><span class="tlid-translation translation" lang="en"><br />This type of service can continue to collect traffic data for the pages on which the service is installed, even when the Users do not use it.</span></p>
        <p><span class="tlid-translation translation" lang="en"><br />It is recommended to close the session of the respective services to make sure that the data treated in this Application are not being related to the User's profile.</span></p>
        <h3><span class="tlid-translation translation" lang="en"><br />The Facebook social widgets (Facebook, Inc.).</span></h3>
        <p><span class="tlid-translation translation" lang="en">The "Share" button and Facebook social widgets are interaction services with the social network Facebook, provided by Facebook, Inc.</span></p>
        <p><span class="tlid-translation translation" lang="en">The "Like" button and Facebook social widgets are interaction services with the social network Facebook, provided by Facebook, Inc.<br /></span></p>
        <p><span class="tlid-translation translation" lang="en">The "Comment" button and Facebook social widgets are interaction services with the social network Facebook, provided by Facebook, Inc.</span></p>
        <h3><span class="tlid-translation translation" lang="en"><br />Personal Data collected: Cookies; Usage data</span></h3>
        <p><span class="tlid-translation translation" lang="en">Place of treatment: USA - Privacy Policy. Member of the "Privacy Shield" agreement.<br />Tweet button and social widgets from Twitter (Twitter, Inc.)</span></p>
        <p><span class="tlid-translation translation" lang="en">The Tweet button and Twitter social widgets are interaction services with the social network Twitter, provided by Twitter, Inc.</span></p>
        <p><span class="tlid-translation translation" lang="en">Personal Data collected: Cookies; Usage data</span></p>
        <p><span class="tlid-translation translation" lang="en">Place of treatment: USA - Privacy Policy. Member of the "Privacy Shield" agreement.</span></p>


            <h3>Aggregated Statistics</h3>
      <p>Noticias en Grafica may collect statistics about the behavior of visitors to its website. Noticias en Grafica may display this information publicly or provide it to others. However, Noticias en Grafica does not disclose your personally-identifying information.</p>
      
      
      
      
      
            <h3>Privacy Policy Changes</h3>
      <p>Although most changes are likely to be minor, Noticias en Grafica may change its Privacy Policy from time to time, and in Noticias en Grafica's sole discretion. Noticias en Grafica encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
      
      
              
        <h3></h3>       
          <p></p>     
      
      <h3>Credit & Contact Information</h3>
              <p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://termsandconditionstemplate.com/privacy-policy-generator/" title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you have any questions about this Privacy Policy, please contact us via <a href="mailto:noticiasengrafica@gmail.com">email</a> or <a href="tel:8098800907">phone</a>.</p>
          
    </div>
{% endblock %}